<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Super Insurance</title>
  </head>
  <body>
    <ul>
        <% for (quote of quotes) { %>
            <li> <%= quote.name %>, <%= quote.address %>  </li>
          <% } %>
    </ul>
  </body>
</html>